<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/comum.css" />
    <title>🦄 UniMarket | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <h1 class="header__container__logo-text">🦄 UniMarket</h1>
        <nav class="header__container__navbar">
          <div class="header__container__navbar__nav-links">
            <a class="header__container__navbar__nav-links__link" href="/"
              >Home</a
            >
            <a class="header__container__navbar__nav-links__link" href="/market"
              >Market</a
            >
          </div>
          <div class="header__container__navbar__nav-links">
            <a class="header__container__navbar__nav-links__link" href="/login"
              >Login</a
            >
            <a
              class="header__container__navbar__nav-links__link"
              href="/register"
              >Register</a
            >
          </div>
        </nav>
      </div>
    </header>
    {% block page_content %} {% endblock %}
  </body>
</html>
