<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='comum.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='cookies-popup.css') }}"
    />
    {% if session.get("logged_user") %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='logged/cart.css') }}"
    />
    {% endif %} {% if styles %} {% for style_path in styles %}
    <link rel="stylesheet" href="{{ style_path }}" />
    {% endfor %} {% endif %}
    <title>🦄 UniMarket | {% block title %}{% endblock %}</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <a class="header__container__logo" href="/">
          <h1 class="header__container__logo__text">🦄 UniMarket</h1>
        </a>
        <nav class="header__container__navbar">
          <div class="header__container__navbar__nav-links">
            <a class="header__container__navbar__nav-links__link" href="/"
              >Início</a
            >
            <a class="header__container__navbar__nav-links__link" href="/market"
              >Mercado</a
            >
          </div>
          <div
            class="header__container__navbar__nav-links {% if session.get('logged_user') %} header__container__navbar__nav-buttons--logged {% endif %}"
          >
            {% if session.get("logged_user") %}
            <button
              class="header__container__navbar__nav-buttons--logged__button"
              href="/login"
            >
              Olá, {{ session.get("logged_user").get("username") }}
              <span
                class="header__container__navbar__nav-buttons--logged__button__profile-symbol"
                >{{ session.get("logged_user").get("username")[0] }}</span
              >
              <ion-icon
                class="header__container__navbar__nav-buttons--logged__button__profile-handle"
                name="chevron-down"
              ></ion-icon>
            </button>
            <button
              class="header__container__navbar__nav-buttons--logged__button header__container__navbar__nav-buttons__cart-button"
            >
              Carrinho <ion-icon name="cart"></ion-icon>
            </button>
            {% else %}
            <a class="header__container__navbar__nav-links__link" href="/login"
              >Login</a
            >
            <a
              class="header__container__navbar__nav-links__link"
              href="/register"
              >Registro</a
            >
            {% endif %}
          </div>
        </nav>
      </div>
    </header>

    {% if session.get("logged_user") %}
    <div class="screen-saver"></div>
    <aside class="cart-sidebar">
      <button class="cart-sidebar__tab-button">
        <ion-icon
          class="cart-sidebar__tab-button__icon"
          name="close"
        ></ion-icon>
      </button>
      <h1 class="cart-sidebar__headline">
        Carrinho
        <ion-icon class="cart-sidebar__headline__icon" name="cart"></ion-icon>
      </h1>
      <p class="cart-sidebar__sub-headline">
        Veja aqui os <span class="highlighted-text">produtinhos</span> que você
        já <span class="highlighted-text">adicionou</span>!
      </p>
      <ul class="cart-sidebar__products-list">
        <!-- CART PRODUCTS HERE 🛒 -->
      </ul>
    </aside>

    <script>
      sessionStorage.setItem(
        "logged_userID",
        '{{ session.get("logged_user").get("ID") }}'
      );
    </script>
    <script src="{{ url_for('static', filename='logged/user-cart-api-handler.js') }}"></script>
    <script src="{{ url_for('static', filename='logged/cart-interactivity.js') }}"></script>
    {% endif %}

    <main>{% block page_content %} {% endblock %}</main>

    {% for notification in get_flashed_messages() %}
    <span
      class="notification-sender {{ notification.replace(' ', '-') }}"
    ></span>
    {% endfor %} {% if not
    request.cookies.get("UnIm@RkEt_cookies_usage_permission") != None %}
    <div class="cookies-request-container">
      <div class="cookies-request-container__container">
        <div>
          <div class="cookies-request-container__headline">
            <img
              class="cookies-request-container__headline__cookie-icon"
              src="{{ url_for('static', filename='media/cookie-icon.png') }}"
              alt="Ícone de um cookie."
            />
            <h1 class="cookies-request-container__headline__text">
              Seu conforto e segurança são prioridades.
            </h1>
          </div>
          <p class="cookies-request-container__paragraph">
            A Unimarket utiliza cookies para armazenar informações que auxiliam
            na sua navegação durante a sua sessão no website - Os cookies são
            expirados automaticamente quando o seu navegador for fechado. A
            qualquer momento, você pode revogar o uso de cookies nesse website
            acessando a interface de configurações de cookies do seu navegador.
            A Unimarket agradece a atenção.
          </p>
          <button class="cookies-request-container__submit-button">
            Aceitar Cookies
          </button>
        </div>
        <img
          class="cookies-request-container__ilustration"
          src="{{ url_for('static', filename='media/cookies-unicorn.png') }}"
          alt="Imagem de um unicórnio nas nuvens."
        />
      </div>
    </div>
    <script src="{{ url_for('static', filename='cookies-handler.js') }}"></script>
    {% endif %}

    <script src="{{ url_for('static', filename='interactivity.js') }}"></script>

    {% if scripts %} {% for script_file in scripts %}
    <script src="{{ script_file }}"></script>
    {% endfor %} {% endif %}
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
