{% extends 'comum.html' %} {% block title %} Login {% endblock %} {% block
page_content %}
<div class="container">
  <div class="actions-container">
    <aside class="actions-container__aside">
      <div class="actions-container__aside__top-lines">
        <h1 class="actions-container__aside__top-lines__headline">Registro</h1>
        <p class="actions-container__aside__top-lines__sub-headline">
          Hora de se aliar ao <span class="highlighted-text">UniMarket!</span>
        </p>
      </div>
      <form
        class="actions-container__aside__form"
        action=""
        method="POST"
        autocomplete="off"
      >
        <label class="actions-container__aside__form__input-label"
          ><span class="actions-container__aside__form__input-label__text"
            >Usuário</span
          ><input
            type="text"
            name="username"
            id="username-input"
            placeholder="Insira o seu novo nome de usuário..."
            class="actions-container__aside__form__input-label__input registering-input" />
          <p
            id="username-input-error"
            class="actions-container__aside__form__input-label__input-error-text"
          ></p></label
        ><label class="actions-container__aside__form__input-label"
          ><span class="actions-container__aside__form__input-label__text"
            >Email</span
          ><input
            type="text"
            name="email"
            id="email-input"
            placeholder="Insira o seu melhor email..."
            class="actions-container__aside__form__input-label__input registering-input" />
          <p
            id="email-input-error"
            class="actions-container__aside__form__input-label__input-error-text"
          ></p></label
        ><label class="actions-container__aside__form__input-label"
          ><span class="actions-container__aside__form__input-label__text"
            >Senha</span
          ><input
            type="text"
            name="password"
            id="password-input"
            placeholder="Insira a sua nova senha..."
            class="actions-container__aside__form__input-label__input registering-input" />
          <p
            id="password-input-error"
            class="actions-container__aside__form__input-label__input-error-text"
          ></p
        ></label>
        
        <input
          id="registering-submit-button"
          class="actions-container__aside__form__submit-button submit-button"
          type="submit"
          value="Registrar"
          disabled
        />
      </form>
    </aside>
    <aside class="actions-container__aside">
      <div class="actions-container__aside__top-lines">
        <h1 class="actions-container__aside__top-lines__headline">Login</h1>
        <p class="actions-container__aside__top-lines__sub-headline">
          Boas-vindas novamente ao
          <span class="highlighted-text">Unimarket!</span>
        </p>
      </div>
      <form
        class="actions-container__aside__form"
        action=""
        method="POST"
        autocomplete="off"
      >
        <label class="actions-container__aside__form__input-label"
          ><span class="actions-container__aside__form__input-label__text"
            >Usuário</span
          ><input
            type="text"
            name="username"
            id="login-username-input"
            placeholder="Insira o seu nome de usuário..."
            class="actions-container__aside__form__input-label__input" />
          <p
            id="login-username-input-error"
            class="actions-container__aside__form__input-label__input-error-text"
          ></p></label
        ><label class="actions-container__aside__form__input-label"
          ><span class="actions-container__aside__form__input-label__text"
            >Senha</span
          ><input
            type="password"
            name="password"
            id="login-password-input"
            placeholder="Insira a sua senha..."
            class="actions-container__aside__form__input-label__input" />
          <p
            id="login-password-input-error"
            class="actions-container__aside__form__input-label__input-error-text"
          ></p
        ></label>
        <a href="#" class="actions-container__aside__form__forgot-password-link"
          >Esqueceu seus dados?</a
        >
        <input
          id="login-submit-button"
          class="actions-container__aside__form__submit-button submit-button"
          type="submit"
          value="Fazer Login"
          disabled
        />
      </form>
    </aside>
    <span class="actions-container__overflow-container {{ container_focus }}">
      <aside
        class="actions-container__overflow-container__aside actions-container__overflow-container__aside--left-side"
      >
        <p class="actions-container__overflow-container__aside__headline">
          Ué! Ainda não é um UniAliado?!
        </p>
        <span
          class="actions-container__overflow-container__aside__center-container"
        >
          <img
            src="{{ url_for('static', filename='media/wave-unicorn-icon.png') }}"
            alt="Ícone de um unicórnio acenando"
            class="actions-container__overflow-container__aside__center-container__image"
          />
          <div
            class="actions-container__overflow-container__aside__center-container__ca-container"
          >
            <button
              class="actions-container__overflow-container__aside__center-container__ca-container__ca-button set-register-view"
            >
              Registrar <ion-icon name="arrow-forward"></ion-icon>
            </button>
            <p
              class="actions-container__overflow-container__aside__center-container__ca-container__text"
            >
              Clique acima para fazer um registro!
            </p>
          </div>
        </span>
        <p class="actions-container__overflow-container__rights-text">
          Unimarket<span
            class="actions-container__overflow-container__rights-text__year-text"
          ></span
          >. <br />All rights reserved. ©
        </p>
      </aside>
      <aside
        class="actions-container__overflow-container__aside actions-container__overflow-container__aside--right-side"
      >
        <p class="actions-container__overflow-container__aside__headline">
          Ei! Já possui uma conta aqui?
        </p>
        <span
          class="actions-container__overflow-container__aside__center-container"
        >
          <img
            src="{{ url_for('static', filename='media/glasses-unicorn-icon.png') }}"
            alt="Ícone de um unicórnio usando óculos"
            class="actions-container__overflow-container__aside__center-container__image"
          />
          <div
            class="actions-container__overflow-container__aside__center-container__ca-container"
          >
            <button
              class="actions-container__overflow-container__aside__center-container__ca-container__ca-button set-login-view"
            >
              <ion-icon name="arrow-back"></ion-icon> Fazer Login
            </button>
            <p
              class="actions-container__overflow-container__aside__center-container__ca-container__text"
            >
              Clique acima para fazer login!
            </p>
          </div>
        </span>
        <p class="actions-container__overflow-container__rights-text">
          Unimarket<span
            class="actions-container__overflow-container__rights-text__year-text"
          ></span
          >. <br />All rights reserved. ©
        </p>
      </aside>
    </span>
  </div>
</div>
{% endblock %}
