{% extends "comum.html" %} {% block title %} Mercado {% endblock %} {% block
page_content %}
<div class="container">
  <h1 class="content-headline">
    {{ "Bem vinde" if not session.get("logged_user") else "Boas-vindas" }} ao
    <span class="highlighted-text">mercado</span>, {{ "UniCliente" if not
    session.get("logged_user") else session.get("logged_user").get("username")
    }}!
  </h1>
  <p class="content-sub-headline"></p>
  <div class="last-view-container"></div>
  <ul class="products-list"></ul>
</div>
{% endblock %}
