{% extends "comum.html" %} {% block title %} Mercado {% endblock %} {% block
page_content %}
<div class="container">
  <h1 class="content-headline">
    {{ "Bem vide" if not session.get("logged_user") else "Boas-vindas" }} ao
    <span class="highlighted-text">mercado</span>, {{ "UniCliente" if not
    session.get("logged_user") else session.get("logged_user").get("username")
    }}!
  </h1>
  {% if items == False %}
  <p class="content-sub-headline">
    🦄🔎 Ops! Os <span class="highlighted-text">unicórnios</span> não trouxeram
    os produtos.
  </p>
  {% else %}
  <p class="content-sub-headline">
    🦄 Os <span class="highlighted-text">unicórnios</span> deixaram alguns
    produtos!!!
  </p>
  {% if items_inspired_on_last_view != None %}
  <div class="last-view-container">
    <p class="last-view-container__headline">
      <span class="highlighted-text">Olha só!</span> Produtos inspirados em seu
      <span class="highlighted-text">último visto</span>?
    </p>
    <ul class="last-view-container__products_list">
      {% for item_ID, item_name, item_price, item_description, item_category in
      items_inspired_on_last_view %}
      <a href="/market/product/{{ item_ID }}">
        <li class="last-view-container__products_list__product-container">
          <div class="image-loader" id="last-viewed-item-{{ item_ID }}">
            <div class="image-loader__loading-icon"></div>
          </div>
          <img
            src="/api/images/market-items/{{ item_name }}"
            alt="Imagem de {{ item_name }}"
            onload="new ImageLoader('last-viewed-item-{{ item_ID }}').stop()"
            class="last-view-container__products_list__product-container__product-image"
          />
          <div
            class="last-view-container__products_list__product-container__product-informations"
          >
            <h1
              class="last-view-container__products_list__product-container__product-informations__product-name"
            >
              {{ item_name }}
            </h1>
            <p
              class="last-view-container__products_list__product-container__product-informations__product-description"
            >
              {{ item_description }}
            </p>
            <p
              class="last-view-container__products_list__product-container__product-informations__product-price"
            >
              R$ {{ item_price }}
            </p>
          </div>
        </li>
      </a>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <ul class="products-list">
    {% for item_ID, item_name, item_price, item_description, item_category in
    items %}
    <a href="/market/product/{{item_ID}}">
      <li class="products-list__product-container">
        <div class="image-loader decreased" id="item-{{ item_ID }}">
          <div class="image-loader__loading-highlight"></div>
        </div>

        <img
          src="/api/images/market-items/{{ item_name }}"
          alt="Imagem de {{ item_name }}"
          onload="new ImageLoader('item-{{ item_ID }}').stop()"
          class="products-list__product-container__product-image"
        />
        <div class="products-list__product-container__product-informations">
          <h1
            class="products-list__product-container__product-informations__product-name"
          >
            {{ item_name }}
          </h1>
          <p
            class="products-list__product-container__product-informations__product-description"
          >
            {{ item_description}}
          </p>
          <p
            class="products-list__product-container__product-informations__product-price"
          >
            R$ {{ item_price }}
          </p>
        </div>
      </li>
    </a>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{% endblock %}
