{% extends "comum.html" %} {% block title %} {% if item != None %} {{ item[1] }}
{% else %} Produto {% endif %} {% endblock %} {% block page_content %}
<div class="container">
  <div class="product-container">
    <img
      class="product-container__product-image-container__image None"
      src="/api/images/market-items/{{ item_name }}"
      alt="Imagem de {{ item[1] }}."
    />
    <div class="product-container__inspection-aside">
      <div class="product-container__inspection-aside__product-informations">
        <p
          class="product-container__inspection-aside__product-informations__category"
        >
          Categoria: {{ item[4] }}
        </p>
        <h1
          class="product-container__inspection-aside__product-informations__name"
        >
          {{ item[1] }}
        </h1>
        <p
          class="product-container__inspection-aside__product-informations__description"
        >
          {{ item[3] }}
        </p>
        <p
          class="product-container__inspection-aside__product-informations__price"
        >
          R$ {{ item[2] }}
        </p>
      </div>

      <div class="product-container__inspection-aside__actions-container">
        <button
          class="product-container__inspection-aside__actions-container__ca-button product-container__inspection-aside__actions-container__ca-button--highlighted"
        >
          Comprar Agora <ion-icon name="bag-outline"></ion-icon></button
        >
        {% if session.get('logged_user') %}
        <button
          class="product-container__inspection-aside__actions-container__ca-button"
          onclick="addToCartFromProductPage('{{ item[0] }}')"
        >
          Adicionar ao Carrinho <ion-icon name="cart-outline"></ion-icon>
        </button>
        {% else %}
        <a
          href="/login"
          class="product-container__inspection-aside__actions-container__ca-button"
        >
          Adicionar ao Carrinho <ion-icon name="cart-outline"></ion-icon>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
