body {
  background-color: #f5f5f5;
}

.container {
  align-items: center;
  justify-content: center;

  min-height: fit-content;
  height: calc(100vh - 70px);
}

.actions-container {
  position: relative;

  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly;

  gap: 40px;
  width: 100%;
  padding: 20px;
  max-width: 640px;
  border-radius: 7.5px;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
.actions-container__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 25px;
  width: 100%;
}
.actions-container__aside__top-lines {
  display: flex;
  flex-direction: column;
  gap: 5px;

  text-align: center;
}
.actions-container__aside__top-lines__headline {
  font-size: 26px;
  color: var(--primary-color);
}
.actions-container__aside__top-lines__sub-headline {
  color: #636363;
  font-weight: 500;
}
.actions-container__aside__form {
  display: flex;
  flex-direction: column;

  gap: 10px;
  width: 100%;
}
.actions-container__aside__form__input-label {
  display: flex;
  flex-direction: column;

  gap: 5px;
}
.actions-container__aside__form__input-label__text {
  transition: all 0.25s;

  font-weight: 500;
  font-size: 1.125em;
}
.actions-container__aside__form__input-label:focus-within
  .actions-container__aside__form__input-label__text {
  color: var(--primary-color);
}
.actions-container__aside__form__input-label__input {
  border: 0;
  outline: none;
  font-size: 1em;
  padding: 7.5px 10px;
  border-radius: 7.5px;
  background-color: #f1f1f1;
}
.actions-container__aside__form__forgot-password-link {
  font-weight: 500;
  color: var(--primary-color);
}
.actions-container__aside__form__forgot-password-link:hover {
  text-decoration: underline;
}
.actions-container__aside__form__forgot-password-link:active {
  opacity: 0.75;
}
.actions-container__aside__form__submit-button {
  transition: all 0.25s;

  margin: auto;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 25px;
  width: fit-content;
  padding: 10px 25px;
  border-radius: 7.5px;
  background-color: white;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 0 var(--primary-color);
}
.actions-container__aside__form__submit-button:hover {
  cursor: pointer;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 var(--primary-color);
}
.actions-container__aside__form__submit-button:active {
  transform: translateY(0);
  box-shadow: 0 0 0 var(--primary-color);
}

.actions-container__overflow-container {
  transition: all .5s;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-wrap: nowrap;

  width: 100%;
  height: 100%;
  max-width: 320px;
  overflow: hidden;
  border-radius: 7.5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  background-image: linear-gradient(to bottom, var(--primary-color), #6376D2);
}
.actions-container__overflow-container.on-register-view {
  left: 50%;
}
.actions-container__overflow-container__aside {
  transition: all 0.5s;

  position: absolute;
  top: 0;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 20px;
}
.actions-container__overflow-container__aside--left-side {
  left: 0;
}
.on-register-view .actions-container__overflow-container__aside--left-side {
  left: -100%;
}
.actions-container__overflow-container__aside--right-side {
  left: 100%;
}
.on-register-view .actions-container__overflow-container__aside--right-side {
  left: 0;
}
.actions-container__overflow-container__aside__headline {
  color: white;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}
.actions-container__overflow-container__aside__center-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 15px;
}
.actions-container__overflow-container__aside__center-container__image {
  width: 100%;
  max-width: 100px;
}
.actions-container__overflow-container__aside__center-container__ca-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 5px;
}
.actions-container__overflow-container__aside__center-container__ca-container__ca-button {
  transition: all 0.25s;

  display: flex;
  align-items: center;

  gap: 5px;
  color: white;
  font-weight: 600;
  font-size: 1.125em;
  padding: 10px 25px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: transparent;
  box-shadow: 0 0 0 white;
}
.actions-container__overflow-container__aside__center-container__ca-container__ca-button:hover {
  cursor: pointer;
  margin-top: 5px;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 white;
}
.actions-container__overflow-container__aside__center-container__ca-container__ca-button:active {
  margin-top: 0;
  transform: translateY(0);
  box-shadow: 0 0 0 white;
}
.actions-container__overflow-container__aside__center-container__ca-container__ca-button
  > ion-icon {
  width: 25px;
  height: 25px;
}
.actions-container__overflow-container__aside__center-container__ca-container__text {
  width: 75%;
  color: white;
  text-align: center;
}
.actions-container__overflow-container__rights-text {
  color: white;
  text-align: center;
}
